Import dependencies

In [1]:
import numpy as np 
import pandas as pd 
import csv
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
location_data = pd.read_csv('tellepunkter.csv',sep=',')
location_data.head()

,SENSOR_ID,SENSOR_NAVN,LATITUDE,LONGITUDE,STREKNING_NAVN,FORMAT,SENSOR_STATUS,SENSOR_TYPE,OPPLOSNING
0,300022,Klemetsrud,6639461.0,267073.16,EV6 HP 1 Meter 1191,Datainn,Ute av drift,Bil,Enkeltkjøret
1,300025,Granfoss NORD,6651245.5,257096.33,RV150 HP 1 Meter 12178,Nortraf,Ute av drift,Bil,15 minutter
2,300026,Påkj granfoss Nord,6651222.5,257081.31,RV150 HP 92 Meter 21222,Nortraf,Ute av drift,Bil,15 minutter
3,300027,Avkj Granfoss nord,6651241.5,257070.92,RV150 HP 92 Meter 12020,Nortraf,Ute av drift,Bil,15 minutter
4,300038,VESTBANEKRYSSET,6649293.5,261140.28,EV18 HP 94 Meter 14680,Nortraf,Ute av drift,Bil,15 minutter

Load all the data

In [3]:
biker_data = pd.read_csv('feb2015_feb2016.csv',sep=',')
biker_data['TIME'] =  pd.to_datetime(biker_data['TIME'], format='%Y-%m-%dT%H:%M:%S.%f')
biker_data['DAY']=biker_data['TIME'].dt.day
biker_data['MONTH']=biker_data['TIME'].dt.month
biker_data['YEAR']=biker_data['TIME'].dt.year
biker_data['HOUR']=biker_data['TIME'].dt.hour

In [4]:
#First five data rows
biker_data=biker_data.drop(['TIME'],axis=1)
biker_data.head()

   SENSOR_ID  DIRECTION  SUM  AVGSPEED RESOLUTION  DAY  MONTH  YEAR  HOUR
0     100002          1   10      77.0     HOURLY    1      2  2015     0
1     100002          2   19      73.0     HOURLY    1      2  2015     0
2     100002          1   10      77.0     HOURLY    1      2  2015     0
3     100002          2   19      73.0     HOURLY    1      2  2015     0
4     100002          1    9      77.0     HOURLY    1      2  2015     0

In [5]:
weather_data = pd.read_csv('Oslo_Blindern_Weather.csv',sep=';')
weather_data.rename(columns={'Year': 'YEAR', 'Date': 'DAY','Mnth':
                             'MONTH','Time':'HOUR','DirectionDeg':
                             'WIND_DIR','Speedmps':'WIND_MAG','Pptmm':
                             'PPT','Humidpercen':'RH','TempC':'TEMP',
                             'Snowdepthcm':'SNOW_DEPTH','St.no':'STATION_ID'}, inplace=True)
weather_data[weather_data.HOUR==24]=0

In [6]:
weather_data.head()

,STATION_ID,YEAR,MONTH,DAY,HOUR,WIND_DIR,WIND_MAG,TEMP,PPT,RH,SNOW_DEPTH
0,18700,2015,2,1,1,7,5.8,-1.0,0.0,75,
1,18700,2015,2,1,2,6,6.2,-1.3,0.0,77,
2,18700,2015,2,1,3,12,6.5,-1.5,0.1,79,
3,18700,2015,2,1,4,7,5.9,-1.5,0.0,76,
4,18700,2015,2,1,5,5,6.3,-1.7,0.0,77,

In [ ]:
weather_data[(weather_data.HOUR==23) & (weather_data.DAY==1) & (weather_data.MONTH==2) & (weather_data.YEAR==2015)]

In [ ]:
weather_data[(weather_data.HOUR==biker_data.HOUR) & (weather_data.DAY==biker_data.DAY) & (weather_data.MONTH==biker_data.MONTH) & (weather_data.YEAR==biker_data.YEAR)]

In [ ]:
bikers_data=biker_data.iloc[0:100, :]
bikers_data.head(10)

In [ ]:
for index,row in bikers_data.iterrows():
    print(weather_data[(weather_data.HOUR==row['HOUR']) & 
                       (weather_data.DAY==row['DAY'])   & 
                       (weather_data.MONTH==row['MONTH']) & 
                       (weather_data.YEAR==row['YEAR'])].drop(['HOUR','DAY','MONTH','YEAR'],axis=1))

In [ ]:
#biker_data = biker_data[biker_data.SENSOR_ID==85168]